<ion-header>
  <ion-toolbar>
    <ion-title>eReception</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-title>
      Check-In
    </ion-card-title>
    <ion-card-content>
      <div *ngIf="!zeigeSicherheitsunterweisung; else sicherheitsunterweisung">
        <p>
          Herzlich Willkommen bei der Max Mustermann GmbH! <br>
          Kurz mit eReception anmelden und danach die Max Mustermann GmbH kennenlernen. Durch die automatisierte E-Mail an Ihren Gastgeber wird dieser Sie in wenigen Augenblicken in Empfang nehmen.  
        </p>
        <form [formGroup]="checkInFormular" 
              (ngSubmit)="bestaetigeEingaben()">
          <ion-list>
            <ion-radio-group formControlName="anrede">
              <ion-list-header>
                <ion-label>Anrede</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Herr</ion-label>
                <ion-radio slot="start" value="Herr"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Frau</ion-label>
                <ion-radio slot="start" value="Frau"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            
            <ion-item>
              <ion-label position="floating">Vorname <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="vorname" required type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.vorname">
                <div class="error-message" *ngIf="checkInFormular.get('vorname').hasError(validation.type) && ( zeigeValidationsFehler || checkInFormular.get('vorname').dirty || checkInFormular.get('vorname').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            
            <ion-item>
              <ion-label position="floating">Nachname  <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="nachname" required type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.nachname">
                <div class="error-message" *ngIf="checkInFormular.get('nachname').hasError(validation.type) && ( zeigeValidationsFehler || checkInFormular.get('nachname').dirty || checkInFormular.get('nachname').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            
            
            <ion-item>
              <ion-label position="floating">Firma <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="firma"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.firma">
                <div class="error-message" *ngIf="checkInFormular.get('firma').hasError(validation.type) && ( zeigeValidationsFehler || checkInFormular.get('firma').dirty || checkInFormular.get('firma').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            
            <ion-item>
              <ion-label position="floating">E-Mail-Adresse <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="eMailAdresse" type="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.eMailAdresse">
                <div class="error-message" *ngIf="checkInFormular.get('eMailAdresse').hasError(validation.type) && (zeigeValidationsFehler || checkInFormular.get('eMailAdresse').dirty || checkInFormular.get('eMailAdresse').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            
            <ion-item>
              <ion-label position="floating">E-Mail-Adresse Gastgeber <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="eMailAdresseGastgeber"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.eMailAdresseGastgeber">
                <div class="error-message" *ngIf="checkInFormular.get('eMailAdresseGastgeber').hasError(validation.type) && ( zeigeValidationsFehler || checkInFormular.get('eMailAdresseGastgeber').dirty || checkInFormular.get('eMailAdresseGastgeber').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            
            <ion-item>
              <ion-checkbox formControlName="istSUBekannt" color="primary" slot="start"></ion-checkbox>
              <ion-label>Mein letzter Besuch liegt weniger als 12 Monate zurück.</ion-label>
            </ion-item>
            
          </ion-list>
          <div class="ion-padding" style="text-align: -webkit-center;">
              <ion-button expand="block" style="max-width: 50%" type="submit" class="ion-no-margin">
                Eingaben bestätigen
              </ion-button>
          </div>
        </form>
      </div>
      <ng-template #sicherheitsunterweisung>
        <p>
          Die gesetzlichen Vorgaben fordern, dass die Unfallverhütungs- und Sicherheitsvorschriften auch für Nichtbeschäftigte gelten. Dies betrifft demnach auch Besucher und Mitarbeiter von Drittfirmen, die die Max Mustermann GmbH besuchen. 
          Die Sicherheitshinweise und Verhaltensregeln im Folgenden Video sind nach dem Arbeitsschutzgesetz in § 12 
          Absatz 1 für jeden Besucher der Mas Mustermann GmbH verpflichtend  
        </p>
        <!-- <div><img src="https://www.geirangerfjord.no/upload/images/2018_general/film-and-vid.jpg" style></div> -->
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4DILjd69C0o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
        <form [formGroup]="suFormular" 
                (ngSubmit)="bestaetigeUnterweisung()">
          <ion-item>
            <ion-checkbox formControlName="istSUAngeschaut" color="primary" slot="start"></ion-checkbox>
            <ion-label>Ich habe die Inhalte verstanden und verpflichte mich, die entsprechenden Vorschriften und Verhaltensregeln zu beachten.</ion-label>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.istSUAngeschaut">
              <div class="error-message" *ngIf="zeigeValidationsFehler">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="ion-padding" style="text-align: -webkit-center;">
            <ion-button expand="block" style="max-width: 50%" type="submit" class="ion-no-margin">Einchecken</ion-button>
          </div>
        </form>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
