<ion-header>
  <ion-toolbar>
    <ion-title>eReception</ion-title>
    <ion-button href="/home">Zurück zum Start</ion-button>
    <ion-button (click)="sendeNotfallliste()">Notfallliste senden</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-title>
      Aktuelle Besucher
    </ion-card-title>
    <ion-card-content>
      <ion-grid>
        <ion-row class="notfallisten-header">
          <ion-col>
            ID
          </ion-col>
          <ion-col>
            Anrede
          </ion-col>
          <ion-col>
            Vorname
          </ion-col>
          <ion-col>
            Nachname
          </ion-col>
          <ion-col>
            Firma
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let entry of notfallliste; index as i"
                  class="ion-align-items-center">
          <ion-col>
            {{ entry.code }}
          </ion-col>
          <ion-col>
            {{ entry.besucher.anrede }}
          </ion-col>
          <ion-col>
            {{ entry.besucher.vorname }}
          </ion-col>
          <ion-col>
            {{ entry.besucher.nachname }}
          </ion-col>
          <ion-col>
            {{ entry.besucher.firma }}
          </ion-col>
          <ion-col>
            <ion-button (click)="checkOut(entry.id)">
              Auschecken
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
