<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      eReception
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-title>
      Start
    </ion-card-title>
    <ion-card-content>
      <ion-button href="/check-in-code">CheckIn starten</ion-button>
      <ion-button href="/notfallliste">Aktuelle Besucher anzeigen</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
