<ion-header>
  <ion-toolbar>
    <ion-title>eReception</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-title>
      Check-In-Code
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">CheckIn-Code  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input #code required type="text"></ion-input>
      </ion-item>
      <ion-button expand="block" style="max-width: 50%" (click)="goToCheckIn(code.value)" class="ion-no-margin">Check in starten</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
