ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-card {
        

        ion-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-button {
                padding-top: 16px;
            }
        }
    }
}